
# Profile for Kubernetes+PrismaCloud Workshops:
INSTALL_FN_K8S_PrismaCloud() {
    # MY TOOLS:
    export INSTALL_JUPYTER=0 INSTALL_KUBELAB=0

    # TOOLS:
    export INSTALL_TERRAFORM=0 INSTALL_HELM=0
    export ANSIBLE_INSTALL=1

    # KUBERNETES+INSTALLER VERSIONS:
    # To force a specific version, e.g. "stable-1" or "v1.18.2" set to version here
    # TO upgrade to latest set UPGRADE_KUBE_LATEST=1
    #export K8S_RELEASE="v1.18.2"
    export UPGRADE_KUBE_LATEST=1
    export K8S_INSTALLER="kubeadm"
    #export K8S_INSTALLER="rancher/rke"

    export USERS="ubuntu:sudo"

    # Prisma Cloud specific:
    export DOWNLOAD_PCC_TWISTLOCK=0 INSTALL_PCC_TWISTLOCK=0
    export TWISTLOCK_PCC_RELEASE=20_04_163
    INSTALL_PCC_SH_URL="${RAWREPO_URL}/master/install_pcc.sh"
    #https://cdn.twistlock.com/releases/6e6c2d6a/prisma_cloud_compute_edition_20_04_163.tar.gz
    export PRISMA_PCC_TAR="/tmp/prisma_cloud_compute_edition_${TWISTLOCK_PCC_RELEASE}.tar.gz"
    export PRISMA_PCC_URL="https://cdn.twistlock.com/releases/6e6c2d6a/prisma_cloud_compute_edition_${TWISTLOCK_PCC_RELEASE}.tar.gz"

    # For owner we choose to install extra items:
    [ "$USER_EMAIL" = "$OWNER_ID_OR_EMAIL" ] && {
        export INSTALL_JUPYTER=1

        # Student install does not download/install PrismaCloud: but I'm lazy ...
        export DOWNLOAD_PCC_TWISTLOCK=1 INSTALL_PCC_TWISTLOCK=1
    }
    echo "USER_EMAIL=<$USER_EMAIL> OWNER_ID_OR_EMAIL=<$OWNER_ID_OR_EMAIL> INSTALL_JUPYTER=$INSTALL_JUPYTER DOWNLOAD_PCC_TWISTLOCK=$DOWNLOAD_PCC_TWISTLOCK INSTALL_PCC_TWISTLOCK=$INSTALL_PCC_TWISTLOCK"

    ## - CREATE_USEFUL_SCRIPTS:
    echo 'kubectl -n frontend set image deploy/nginx nginx=nginx:1.12' > /tmp/reset_nginx_1.12.sh
    chmod +x /tmp/reset_nginx_1.12.sh

    echo 'kubectl -n frontend set image deploy/nginx nginx=nginx:1.18' > /tmp/reset_nginx_1.18.sh
    chmod +x /tmp/reset_nginx_1.18.sh

    #[ $INSTALL_PCC_TWISTLOCK -ne 0 ] && {}
    [ $DOWNLOAD_PCC_TWISTLOCK -ne 0 ] && {
        [ ! -z "$PRISMA_PCC_ACCESS" ] && echo "export PRISMA_PCC_ACCESS=$PRISMA_PCC_ACCESS" >> /root/.profile
        [ ! -z "$PRISMA_PCC_LICENSE" ] && echo "$PRISMA_PCC_LICENSE" > /tmp/PCC.license.txt
    }
}

